* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 
    'Arial Narrow', Arial, sans-serif;
}

body {
    background-color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
}

.App {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* width: 300px; */
}

.c-player {
    display: block;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8), 
    -2px -2px 4px rgba(255, 255, 255, 0.4);
    background: linear-gradient(to right bottom, #6d327c, #485DA6, #00a1ba, #01b18e, #32b37b);    
    padding: 50px;
    border-radius: 16px;
    box-shadow:inset -6px -6px 12px rgba(0,0,0,0.8), 
    inset 6px 6px 12px rgba(255, 255, 255, 0.4);
    width: 300px;
    height: 99vh;
}

.c-player > h4 {
    position: relative;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
}

.c-player > p {
    color: #aaa;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}

.c-player--details .details-img {
    position: relative;
    width: fit-content;
    margin: 20px auto;
}

.c-player--details .details-img img {
display: block;
margin: 0 auto;
border-radius: 50%;
border: 2px solid rgb(255, 234, 0);

}

.c-player--details .details--title {
    color: #eee;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8), 
    -2px -2px 4px rgba(255, 255, 255, 0.4);
    text-align: center;
    margin-bottom: 10px;
}

.c-player--details .details--artist {
    text-align: center;
    color: #aaa;
    font-size: 20px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.8), 
    inset -2px -2px 4px rgba(red, green, blue, 0.4);
    margin-bottom: 20px;
}

.c-player--controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.c-player--controls .play-btn {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    border-radius: 50%;
    box-shadow: 
     4px 4px 10px rgba(0,0,0,0.8), 
     -4px -4px 10px rgba(255, 255, 255, 0.4),
     inset -4px -4px 10px rgba(0,0,0,0.4),
     inset 4px 4px 10px rgba(255, 255, 255, 0.4);
    border: none;
    background: rgb(255, 234, 0);
    color: #ffff;
    font-size: 24px;
    cursor: pointer;
}

.play-btn:hover {
    box-shadow: 
    4px 4px 10px rgba(255, 0, 0, 0.8), 
    -4px -4px 10px rgba(255, 255, 255, 0.4),
    inset -4px -4px 10px rgba(0,0,0,0.4),
    inset 4px 4px 10px rgba(255, 255, 255, 0.4);
}

.c-player--controls .skip-btn {
    background: none;
    outline: none;
    border:none;
    color: rgb(255, 255, 255);
    font-size: 18px; 
}

.skip-btn:hover {
    color: green;
}

.redHeart {
    position: absolute;
    color:rgba(255, 0, 0, 0.8);
    right: 0;
}
.whiteHeart {
    position: absolute;
    color:#fff;
    right: 0;
}

.c-list {
    display: block;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8), 
    -2px -2px 4px rgba(255, 255, 255, 0.4);
    background: linear-gradient(to right bottom, #6d327c, #485DA6, #00a1ba, #01b18e, #32b37b);
    padding: 20px;
    border-radius: 16px;
    box-shadow:inset -6px -6px 12px rgba(0,0,0,0.8), 
    inset 6px 6px 12px rgba(255, 255, 255, 0.4);
    width: 300px;
    height: 99vh;
    color: #eee;
}
.all-row {
    padding: 10px 2px;
}
.music-row {
    color: #eee;
    overflow: auto;
    padding: 7px 5px;
    margin: 4px 0;
    border-bottom: 1px solid #ddd;
}
.music-row:hover {
    color: rgb(179, 176, 176);
}
.sortby {
    padding: 2px;
    margin-bottom: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.list--sort {
    background: none;
    border: none;
    color: #fff;
    padding: 2px;
    outline: none;
}
.list--sort option{
    background:#6d327c;
    color:#fff;
    outline: none;

}

input {
    background: none;
    border: none;
    outline: none;
    width: 80px;

}
input:focus{
    border-bottom: 1px solid #ddd;

}
.search{
    position: relative;
    
}
.search span{
    position: absolute;
    right: 2px;
}
.footer {
    position: absolute;
    bottom: 0;
    background: rgba(255, 0, 0, 0.2);
    padding: 15px;
    padding-bottom: 20px;
    width: 100%;
    height: 90px;
    left: 0;
    border-radius: 10px;
}
.footer .play{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
}